#sectioncontainer {
    margin-top: 20px;
}

/* Keep from sticking to sides */
.cards-container {
    max-width: 95%;
}

.board-item {
    margin: 5px 0;
    will-change: transform;
}

.board-item-content {
    word-break: break-all;
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    margin: 5px;
}

.delete {
    pointer-events: auto;
}

footer {
    margin-top: 2rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: fixed; /* Fixed position */
    top: 50%; /* Position it half way from the top */
    left: 50%; /* Position it half way from the left */
    transform: translate(-50%, -50%); /* Translate it back by 50% of its width and height */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Full width */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px; /* Adjust this value as needed */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#submit-task {
    margin-top: 40px;
}

#delete-task {
    margin-top: 40px;
    margin-right: 20px;
}

.message-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}